<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="h-16 shadow-sm flex items-center">
      <div class="container mx-auto">
        <h1 class="text-3xl font-bold">📺 Youtube</h1>
      </div>
    </header>
    <main class="container mx-auto my-8">
      <video
        height="480"
        width="853"
        autoplay
        controls
        src="<%= video.src %>"
      ></video>

      <p class="text-2xl mt-4"><%= video.title %></p>
      <p class="text-sm text-gray-500 mt-4"><%= video.views %> views</p>
      <div class="flex">
        <img class="w-8 h-8" src="<%=video.channel.picture%>" />
        <p class="text-md text-gray-500 mt-4"><%= video.channel.name %></p>
      </div>
      <button id="subscribeBtn">Subscribe</button>
    </main>
    <script>
      const channelId = parseInt("<%- video.channel.id %>");
    </script>
    <script src="/public/js/watch.js"></script>
  </body>
</html>
